/* Reset some default styles */
body, h1, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation bar styling */
nav {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation title styling */
nav h1 {
    font-size: 1.5rem;
}

/* Logout button styling */
nav button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background: #c0392b;
}

/* Container styling */
#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
    background: #fff;
    margin: 2rem auto;
    width: 80%;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

#logout {
    display: none;
}

/* login style  */


.loginform {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.loginform h1 {
    text-align: center;
    margin-bottom: 20px;
}
.User, .password {
    margin-bottom: 15px;
}
.User p, .password p {
    margin: 0 0 5px;
    font-weight: bold;
}
.User input, .password input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#login {
    width: 100%;
    padding: 10px;
    background: #e74c3c;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
#login:hover {
    background: #c0392b;
}

/* home style */

/* Profile container styles */
#profile {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
#user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#user-info svg {
    margin-right: 10px;
}
#userName, #FullName, #level, #lastEarn {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}
#level, #lastEarn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
}

/* graphs style */

#graphs {
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

